body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.map {
  margin:0 auto;
}

.control_bar {
  width:100%;
  height:3em;
  background-color: #2c3e50;
}

.red {
  border-color: #e74c3c;
  background-color: #c0392b;
}

.green {
  border-color: #2ecc71;
  background-color: #27ae60;
}

.grey {
  border-color: #ecf0f1;
  background-color: #bdc3c7;
}

.button {
  font-family: 'Orbitron', sans-serif;
  font-weight: strong;
  float:left;
  width: auto;
  height:1em;
  border:solid;
  border-width: 0.1em;
  color: #2c3e50;
  margin: 0.2em;
  padding: 0.2em;
  text-align: center;
  cursor: pointer;
}

#dialog {
  position: fixed;
  left:50%;
}